wrapper{
    margin:0 auto;
    width:600px;
    display: flex;
    flex-direction: column;
    background: rgb(119, 245, 65);
}
.right{
    background-color: rgba(56, 241, 226, 0.5);
    border-radius: 5px;
    padding-left:5px;
}
.wrong{
    background-color: rgb(225, 21, 41);
    border-radius: 5px;
    padding-left:5px;
}
.hidden{
    display: none;
}
#btn1{
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
}
.opend{
    background-color: rgb(223, 235, 135);
}